<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuan.shop.repository.ArticleMapper">
	<resultMap id="articleResultMap" type="com.yuan.shop.bean.Article">
		<id property="id" column="id" javaType="int"/>
		<result property="title" column="title" javaType="String"/>
		<result property="supplier" column="supplier" javaType="String"/>
		<result property="price" column="price" javaType="double"/>
		<result property="discount" column="discount" javaType="double"/>
		<result property="locality" column="locality" javaType="String"/>
		<result property="putawayDate" column="putaway_date" javaType="java.util.Date"/>
		<result property="storage" column="storage" javaType="int"/>
		<result property="image" column="image" javaType="String"/>
		<result property="description" column="description" javaType="String"/>
		<result property="createDate" column="create_date" javaType="java.util.Date"/>
		<result property="disabled" column="disabled" javaType="String"/>
        <!--查询出商品的类型：
        将Article实体类中的ArticleType对象与数据库中的type_code进行关联映射;
        注意：这里的column属性值是数据库的列名或重命名的列标签，
        其对应的具体的值是要传给目标查询语句做参数的，
        如这里的type_code要传给getArticleTypeByCode(String code)，对应于形参code
        -->
	    <association property="articleType" javaType="Article" column="type_code"
                     select="com.yuan.shop.repository.ArticleTypeMapper.getArticleTypeByCode"/>
    </resultMap>

	<sql id="sqlwhere">
		<where>
			<if test="typeCode!=null &amp;&amp; typeCode!=''">
				and type_code like concat("",#{typeCode},"%")
			</if>
			<if test="secondType!=null &amp;&amp; secondType!=''">
				and type_code = #{secondType}
			</if>
			<if test="title!=null &amp;&amp; title!=''">
				and title like concat("%",#{title},"%")
			</if>
		</where>
	</sql>
	<select id="getAllArticles" resultType="Article">
		select * from ec_article
		<include refid="sqlwhere"></include>
		limit #{pager.firstParam},#{pager.pageSize}
	</select>

	<select id="count" resultType="int">
		select count(*) from ec_article
		<include refid="sqlwhere"></include>
	</select>

	<!--修改商品信息-->
	<update id="updateArticle" parameterType="Article">
		update ec_article
		<trim prefix="SET" suffixOverrides=",">
			<if test="title!=null">
				title=#{title},
			</if>
			<if test="supplier!=null">
				supplier=#{supplier},
			</if>
			<if test="price!=null">
				price=#{price},
			</if>
			<if test="locality!=null">
				locality=#{locality},
			</if>
			<if test="storage!=null">
				storage=#{storage},
			</if>
			<if test="image!=null">
				image=#{image},
			</if>
			<if test="description!=null">
				description=#{description},
			</if>
			<if test="articleType.code!=null">
				type_code=#{articleType.code},
			</if>
		</trim>
		<where>
			id=#{id}
		</where>
	</update>
	<!--添加商品信息-->
	<insert id="addArticle" parameterType="Article">
		insert into ec_article(title,supplier,price,locality,putaway_date,
		storage,image,description,type_code,create_date)
		 values(#{title},#{supplier},#{price},#{locality},#{putawayDate},
		 #{storage},#{image},#{description},#{articleType.code},#{createDate})
	</insert>

</mapper>